layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Console" {
        pane split_direction="Horizontal" {
            pane name="Status" size="80%" command="btm"
            pane name="Run"
        }
    }
    tab name="Browse" {
        pane command="fish" borderless=true {
            args "-c" "lk"
        }
    }
    tab name="Run" focus=true
}
